body{
  position: relative;
}
#aboutme {padding-top: 100px; background-color: white}
#projects {padding-top: 100px; background-color: white}
.navbar{
  margin-bottom: 50px;
  border-radius: 0;
  background-color: #3498DB;
  color: white;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}
.navbar-brand{
  float: left;
  font-size: 2.5em;
  color: black;
  padding: 15px 15px 15px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
  color: white;
  background-color: #3498DB;
}
.navbar-inverse .navbar-nav li a{
  color: #D5D5D5;
}
.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.btn{
  font-size: 18px;
  color: white;
  padding: 12px 22px;
  background-color: #3498DB;
  border: 2px solid white;
}

footer{
  margin-top: 5px;
  width: 100%;
  background-color: #3498DB;
  padding: 3%;
  color: white;
}
.fa{
  padding: 15px;
  font-size: 25px;
  color: white;
}
.fa:hover{
  color: #D5D5D5;
  text-decoration: none;
}

@media(max-width: 900px){
  .fa{
    font-size: 20px;
    padding: 10px;
  }
}
@media  (max-width: 600px){
  .carousel-caption{
    display: none;
  }
}